body {
  background-color: #F9E9D9;
  min-height: 600px;
}
#app {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.65);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.65);
}
#display {
  text-align: right;
  margin-bottom: 0px;
  padding-top: 12px;
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
}

.btn-calculator {
  width: 24%;
  height: 60px;
  padding-top: 12px;
  font-size: 24px;
  margin-top: 4px;
}

.btn-calculator + .btn-calculator {
  margin-left: 1%;
}

.btn-calculator:nth-child(4n+1) {
  margin-left: 0px;
}